<%- include('header') -%>

<header class="heading" style="background-image: url('<%= lecture.image %>')">
    <span class="heading__category"><%= category %></span>
    <h1 class="heading__title"><%= title %></h1>
  </header>
  <main>
      <%- html %>
  </main>

<%- include('footer') -%>